/*---Importing---basic suff------*/
@import url("http://fonts.cdnfonts.com/css/aristotelica-display-trial");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*-----Colors-----*/
/*-----Fonts-----*/
/*---Importing---Layouts------*/
.side-bar {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d1a707e), to(#0007297e));
  background: linear-gradient(#2d1a707e, #0007297e);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

.side-bar label {
  position: absolute;
  top: 7.8%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  cursor: pointer;
}

.side-bar label div {
  width: 5px;
  height: 2px;
  background-color: white;
  margin-left: 20%;
  margin-bottom: 6px;
  border-radius: 4px;
  -webkit-transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
}

.side-bar label div:first-child {
  width: 17px;
}

.side-bar label div:nth-child(2) {
  width: 12px;
}

.side-bar label div:last-child {
  width: 22px;
  margin-bottom: 0;
}

.side-bar .social_links {
  position: absolute;
  top: 40%;
}

.side-bar .social_links img {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 3vh;
  cursor: pointer;
  -webkit-filter: blur(0.05rem);
          filter: blur(0.05rem);
}

.side-bar .social_links img:hover {
  -webkit-animation: 50s hue infinite;
          animation: 50s hue infinite;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
}

.side-bar .other_links {
  position: absolute;
  bottom: 3%;
  text-align: center;
}

.side-bar .other_links .theme_toggle {
  display: block;
  width: 70%;
  margin: 0 auto;
  background: #01032665;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px 0;
  text-align: center;
}

.side-bar .other_links .theme_toggle img {
  margin-top: 13%;
  color: white;
  width: 40%;
  -webkit-animation: 5s hue infinite alternate;
          animation: 5s hue infinite alternate;
}

.Open {
  width: 15vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#14121ba4), to(#000103));
  background: linear-gradient(#14121ba4, #000103);
  -webkit-transition: 0.10s ease;
  transition: 0.10s ease;
}

.Open #menu_checkbox:checked + label {
  -webkit-transform: translateY(-40%) rotateZ(-90deg);
          transform: translateY(-40%) rotateZ(-90deg);
}

.Open #menu_checkbox:checked + label div {
  width: 20px;
  margin-left: 12px;
  margin-bottom: 10px;
  background-color: white;
}

.Close {
  width: 3.47vw;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  overflow: hidden;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(./assets/bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-animation: 5s hue infinite alternate;
          animation: 5s hue infinite alternate;
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(60deg);
            filter: hue-rotate(60deg);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(60deg);
            filter: hue-rotate(60deg);
  }
}

.navbar {
  position: absolute;
  top: 5%;
  right: 12%;
}

.navbar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbar a li {
  display: inline;
  margin-left: 50px;
  font-size: 14px;
  font-family: Aristotelica Display Trial, sans-serif;
  font-weight: bold;
}

.navbar button {
  position: absolute;
  top: 0;
  right: -20%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar button img {
  width: 35px;
  cursor: pointer;
}

.navbar .dropdown {
  display: block;
  position: absolute;
  top: 5.5vh;
  right: -25%;
  width: 20%;
  background-color: rgba(34, 32, 32, 0.151);
  color: white;
  font-size: 12px;
  z-index: 2;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.navbar .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .dropdown li {
  padding: 8px 12px;
}

.navbar .dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.logo {
  display: inline;
  position: absolute;
  top: 7vh;
  left: 7%;
  font-family: Aristotelica Display Trial, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.content {
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 85%;
  margin: 0 auto;
  z-index: 1;
}

.content img {
  width: 50%;
  position: absolute;
  right: 2%;
  top: 8%;
  z-index: 2;
  -webkit-filter: hue-rotate(0);
          filter: hue-rotate(0);
}

.content .intro_text {
  width: 50%;
  position: absolute;
  left: 2%;
  top: 20%;
  font-family: Open Sans, sans-serif;
}

.content .intro_text h2 {
  font-weight: 300;
  font-size: 52px;
  margin-bottom: 1%;
}

.content .intro_text h1 {
  font-weight: 700;
  font-size: 45px;
}

.content .intro_text p {
  width: 70%;
  margin-top: 3%;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.content .intro_text .order {
  margin-top: 5%;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.499);
  border-radius: 1000px;
  padding: 11px 50px;
  color: white;
  display: inline-block;
  font: normal normal 14px Open Sans, sans-serif;
  text-align: center;
}

.content .intro_text .order:hover {
  background: rgba(255, 255, 255, 0.499);
  color: black;
}
/*# sourceMappingURL=main.css.map */